{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
<main>
<h1>Zaloguj się</h1>
<form method="post">
    {% csrf_token %}
    <div class = "login-uz">
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class = "login-uz">
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Zaloguj</button>
</form>
{% if form.errors %}
    <p style="color: red;">Nieprawidłowe dane logowania</p>
{% endif %}
</main>
{% endblock %}
