{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Zespół - {{ team.name }}</h1>
    <nav>
        <a href="{% url 'main' %}">Powrót do Strony Głównej</a> <br>
    </nav>
    <main>
        <section>
            <h2>Członkowie zespołu</h2>
            {% if team.members.all %}
                <ul>
                    {% for member in team.members.all %}
                    <li>{{ member.username }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Brak członków zespołu</p>
            {% endif %}
        </section>

        <section>
            <h2>Kod do dołączenia</h2>
            <h4>{{ team.code }}</h4>
        </section>

        <hr>
        <section id="chat-section">
            <h2>Czat zespołu</h2>
            <div id="chat-box">
                {% for message in messages %}
                <p><strong>{{ message.user.username }}:</strong> {{ message.content }} <em>{{ message.timestamp }}</em></p>
                {% endfor %}
            </div>

            <form id="chat-form" data-url="{% url 'send_message' team.id %}" data-csrf="{{ csrf_token }}">
                <textarea id="message-content" placeholder="Napisz wiadomość..."></textarea>
                <button type="submit">Wyślij</button>
            </form>
        </section>
    </main>
    <script src="{% static 'chat.js' %}"></script>
{% endblock %}
