{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
    <h1>Zespół - {{ team.name }}</h1>
    <nav>
        <a href="{% url 'main' %}">Powrót do Strony Głównej</a> <br>
    </nav>
    <main>
        <section>
            <h2>Członkowie zespołu</h2>
            <ul>
                {% for member in team.members.all %}
                <li>{{ member.username }}</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Kod do dołączenia</h2>
            <h4>{{ team.code }}</h4>
        </section>
    </main>
{% endblock %}