* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.2s;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    color: black;
    transition: background-color 0.2s, color 0.2s;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 2rem;
    transition: color 0.2s;
}

p {
    font-size: 1.2rem;
    transition: color 0.2s;
}

.dark-mode main p {
    color: #d17070;
    transition: color 0.2s;
}

main {
    max-width: 600px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background-color 0.2s, color 0.2s;
}

main p, h1, h2, h3, h4, h5, h6 {
    justify-self: center;
    color: #333;
    text-shadow: 0px 0px 0px #000;
    transition: color 0.2s, text-shadow 0.2s;
}

#message-content {
    width: 80%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat-box p {
    color: #3a3431;
}

#chat-box em {
    color: #888;
    font-size: 0.7rem;
}

#chat-box strong {
    color: #007bff;
}

.dark-mode #chat-box p {
    color: #e0c097;
    transition: color 0.2s;
}

.login-uz {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.team-section, .add-team-section {
    margin-bottom: 20px;
}

.team-section h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    justify-self: center;
    transition: color 0.2s;
}

.team-list {
    list-style-type: none;
    padding: 0;
}

.team-item button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #595972;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    transition: 0.2s;
}

.team-name a {
    padding: 10px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #007bff;
    transition: color 0.2s;
    font-weight: bold;
}

.team-name a:hover {
    height: 100% + 20%;
}

.team-item button:hover {
    background-color: #ffffff;
}

.team-members {
    font-size: 0.9rem;
    color: #888;
    transition: color 0.2s;
}

.add-team-section h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
    transition: color 0.2s;
}

form[method="POST"] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input[name="team_name"] {
    width: 40%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[name="username"], input[name="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    margin: 5px;
    width: 33.5%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.messages {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.message.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    transition: background-color 0.2s, color 0.2s;
}

.message.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    transition: background-color 0.2s, color 0.2s;
}

/* DARKMODE SETTINGS - DO NOT TOUCH! */

.dark-mode {
    background-color: #292929;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

.dark-mode main {
    background-color: #3a3a3a;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

.dark-mode button {
    background-color: #e0c99d;
    color: rgb(34, 34, 34);
    transition: background-color 0.2s, color 0.2s;
}

.dark-mode button:hover {
    background-color: #b19568;
}

.dark-mode a {
    color: #c4a467;
    transition: color 0.2s;
}

.dark-mode main a {
    color: #e0c99d;
    text-shadow: 1px 1px 1px #000;
    border-top: 5px #1a1a1a;
    background-color: #3a3a3a;
    transition: color 0.2s, text-shadow 0.2s, background-color 0.2s;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h5, body.dark-mode h6 {
    color: #e0c99d;
    text-shadow: 2px 2px 3px #1a1a1a;
    transition: color 0.2s, text-shadow 0.2s;
}

body.dark-mode h4 {
    color: #caa28f;
    text-shadow: 2px 2px 3px #1a1a1a;
    transition: color 0.2s, text-shadow 0.2s;
}

#dark-mode-toggle {
    border: 1px solid #595972;
    border-radius: 5px;
    padding: 10px;
}

.dark-mode #dark-mode-toggle {
    background-color: #595972;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}